<% layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1>Compra Inteligente, Ahorrando Tiempo!</h1>
    <p>Punto de inicio para comprar lo que quieras</P>
    <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Regitrarse &raquo;</a></p>
    <img src="img/apec.png" alt="" />
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Inicia tu busqueda aquí</h3>
      <p>Registrate para iniciar a comprar</p>
   </div>
    <div class="col-md-4">
      <h3>Hecha un vistazo por productos inteligentes</h3>
      <p>Estos apareceran aquí</p>
    </div>
    <div class="col-md-4">
      <h3>Construye un carrito inteligente</h3>
      <p>Los productos mas inteligentes compralos en conjunto y ahorras mas :) </p>
   </div>
  </div>
