<% layout('layout') -%>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="<%= product.image %>" alt="product_image" />
    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">
      <h3><span style="font-weight: bold"><%= product.name %></span></h3>
      <h1>$ <%= product.price %></h1>
    </div>
  </div>
</div>
